img.logo{
	width:100px;
	height:70px;
	
}

button.btn{
  border-style:solid;
  color:white;
  background-color:tomato;
}


button.btn:hover {
  color: white;
}


body {
  background-image: url('clock.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  background-color:black;
 }


h2{
color:yellow;
}

li,h4{
color:white;
}